<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./test/bootstrap.php">
    <php>
        <env name="PHP_COMPILER_CI_RAM_GB" value="8"/>
        <env name="PHP_COMPILER_MEMORY_LIMIT" value="1536M"/>
        <env name="PHP_COMPILER_LLVM_MEMORY_LIMIT" value="4096M"/>
        <env name="PHP_COMPILER_VM_RSS_GUARD" value="1"/>
        <env name="PHP_COMPILER_VM_PEAK_RSS_MB" value="2048"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="PHPCompiler Compliance Test Suites">
            <file>./test/compliance/JITTest.php</file>
            <file>./test/compliance/VariableFunctionDynamicJITTest.php</file>
            <file>./test/compliance/MagicDirFileVMTest.php</file>
            <file>./test/compliance/RegisterArgcArgvVMTest.php</file>
            <file>./test/compliance/MagicScriptConstVMTest.php</file>
            <file>./test/compliance/VMTest.php</file>
            <file>./test/compliance/GeneratorVMTest.php</file>
            <file>./test/compliance/EnumVMTest.php</file>
            <file>./test/compliance/SwitchEnumTest.php</file>
            <file>./test/compliance/SwitchEnumScalarSubjectJITTest.php</file>
            <file>./test/compliance/EnumTypedParamJITTest.php</file>
            <file>./test/compliance/EnumTraitConstTest.php</file>
            <file>./test/compliance/EnumTraitMethodJitTest.php</file>
            <file>./test/compliance/EnumTraitPropertyFatalVMTest.php</file>
            <file>./test/compliance/EnumTraitPropertyFatalJITTest.php</file>
            <file>./test/compliance/ReadonlyClassTraitPropertyFatalVMTest.php</file>
            <file>./test/compliance/ReadonlyClassTraitPropertyFatalJITTest.php</file>
            <file>./test/compliance/IterableArrayUnionRedundantVMTest.php</file>
            <file>./test/compliance/ObjectClassUnionRedundantVMTest.php</file>
            <file>./test/compliance/DnfSubsetArmRedundantVMTest.php</file>
            <file>./test/compliance/NullsafeByRefRhsVMTest.php</file>
            <file>./test/compliance/RedundantDnfArmVMTest.php</file>
            <file>./test/compliance/PropertyDefaultClassPseudoConstVMTest.php</file>
            <file>./test/compliance/TraitSelfClassStaticComposingVMTest.php</file>
            <file>./test/compliance/MagicConstClassInTraitVMTest.php</file>
            <file>./test/compliance/LspSelfResolveVMTest.php</file>
            <file>./test/compliance/InterfaceConstAmbiguityVMTest.php</file>
            <file>./test/compliance/GeneratorJITTest.php</file>
            <file>./test/compliance/VisibilityTest.php</file>
            <file>./test/compliance/VisibilityJitTest.php</file>
            <file>./test/compliance/IncludeScopeVMTest.php</file>
            <file>./test/compliance/ClassMemberConstVMTest.php</file>
            <file>./test/compliance/ClassConstFetchVMTest.php</file>
            <file>./test/compliance/RoundingModeMissingClassErrorVMTest.php</file>
            <file>./test/compliance/ClassConstSelfInheritedVMTest.php</file>
            <file>./test/compliance/ClassConstPrivateSelfChildVMTest.php</file>
            <file>./test/compliance/ConstantDefinedClassConstVisibilityVMTest.php</file>
            <file>./test/compliance/ConstantDefinedClassConstVisibilityJITTest.php</file>
            <file>./test/compliance/ConstantDefinedRelativeClassScopeVMTest.php</file>
            <file>./test/compliance/ConstantDefinedRelativeClassScopeJITTest.php</file>
            <file>./test/compliance/TraitParentScopeVMTest.php</file>
            <file>./test/compliance/TraitParentScopeJITTest.php</file>
            <file>./test/compliance/SelfStaticInstanceMethodCallVMTest.php</file>
            <file>./test/compliance/SelfStaticInstanceMethodCallJITTest.php</file>
            <file>./test/compliance/SelfParentCallNoClassScopeVMTest.php</file>
            <file>./test/compliance/SelfParentCallNoClassScopeJITTest.php</file>
            <file>./test/compliance/ThisBareCallArgVMTest.php</file>
            <file>./test/compliance/ThisBareCallArgJITTest.php</file>
            <file>./test/compliance/ClassStaticMethodVMTest.php</file>
            <file>./test/compliance/SplAutoloadRegisterJITTest.php</file>
            <file>./test/compliance/GethostnameJITTest.php</file>
            <file>./test/compliance/HttpLastResponseHeadersVMTest.php</file>
            <file>./test/compliance/HttpLastResponseHeadersJITTest.php</file>
            <file>./test/compliance/JitMcjitExecuteSmokeTest.php</file>
            <file>./test/compliance/ImageTtfTextVMTest.php</file>
            <file>./test/compliance/ForeachByrefAppendResidualVMTest.php</file>
            <file>./test/compliance/ForeachByrefAppendResidualJITTest.php</file>
            <file>./test/compliance/ForeachScalarWarningLineVMTest.php</file>
            <file>./test/compliance/ForeachScalarWarningLineJITTest.php</file>
            <file>./test/compliance/FiberStackOverflowProfileVMTest.php</file>
            <file>./test/compliance/FiberStackOverflowProfileJITTest.php</file>
            <file>./test/compliance/FiberGetCurrentReflectionVMTest.php</file>
            <file>./test/compliance/FiberGetReturnReflectionVMTest.php</file>
            <file>./test/compliance/EngineErrorThrowSiteVMTest.php</file>
            <file>./test/compliance/ClosureDynpropErrorThrowSiteVMTest.php</file>
            <file>./test/compliance/AnonymousClassImplementsNameVMTest.php</file>
            <file>./test/compliance/AnonymousClassImplementsNameJITTest.php</file>
            <file>./test/compliance/IncompleteClassAccessWarningPrefixVMTest.php</file>
            <file>./test/compliance/IncompleteClassAccessWarningPrefixJITTest.php</file>
            <file>./test/compliance/LazyGhostCloneInitializesVMTest.php</file>
            <file>./test/compliance/LazyGhostCloneInitializesJITTest.php</file>
            <file>./test/compliance/DatePeriodCreateFromISO8601StringReflectionVMTest.php</file>
            <file>./test/compliance/LocaltimeReflectionVMTest.php</file>
            <file>./test/compliance/FuncGetArgReflectionMixedVMTest.php</file>
            <file>./test/compliance/GcControlReflectionReturnsVMTest.php</file>
            <file>./test/compliance/HashHmacAlgosReflectionReturnVMTest.php</file>
            <file>./test/compliance/HashFileReflectionReturnVMTest.php</file>
            <file>./test/compliance/OpensslErrorStringReflectionVMTest.php</file>
            <file>./test/compliance/OpensslEncryptDecryptReflectionVMTest.php</file>
            <file>./test/compliance/ProcOpenReflectionVMTest.php</file>
            <file>./test/compliance/ExecFamilyReflectionReturnsVMTest.php</file>
            <file>./test/compliance/IconvStrlenReflectionVMTest.php</file>
            <file>./test/compliance/MbCaseInvalidUtf8SubstVMTest.php</file>
            <file>./test/compliance/StreamCopyToStreamReflectionVMTest.php</file>
            <file>./test/compliance/StreamBucketReflectionStreamBucketVMTest.php</file>
            <file>./test/compliance/StreamBucketNewReflectionObjectVMTest.php</file>
            <file>./test/compliance/StreamFilterAppendPrependReflectionVMTest.php</file>
            <file>./test/compliance/SocketReflectionStubsVMTest.php</file>
            <file>./test/compliance/StreamContextSetOptionReturnTrueVMTest.php</file>
            <file>./test/compliance/StreamSocketEnableCryptoReflectionVMTest.php</file>
            <file>./test/compliance/HtmlDecodeFlagsNamedReflectionVMTest.php</file>
            <file>./test/compliance/StreamIsattyReflectionVMTest.php</file>
            <file>./test/compliance/StreamSelectReflectionVMTest.php</file>
            <file>./test/compliance/StreamSocketClientReflectionVMTest.php</file>
            <file>./test/compliance/StreamSocketServerReflectionVMTest.php</file>
            <file>./test/compliance/TriggerErrorUserErrorReflectionVMTest.php</file>
            <file>./test/compliance/TriggerErrorUserErrorHandledVMTest.php</file>
            <file>./test/compliance/TriggerErrorUserErrorHandledJITTest.php</file>
            <file>./test/compliance/AssertOptionsDeprecatedVMTest.php</file>
            <file>./test/compliance/AssertOptionsDeprecatedJITTest.php</file>
            <file>./test/compliance/EStrictConstantDeprecatedVMTest.php</file>
            <file>./test/compliance/EStrictConstantDeprecatedJITTest.php</file>
            <file>./test/compliance/DeprecatedInheritedConstFetchVMTest.php</file>
            <file>./test/compliance/DeprecatedInheritedConstFetchJITTest.php</file>
            <file>./test/compliance/DeprecatedIfaceConstFetchVMTest.php</file>
            <file>./test/compliance/DeprecatedIfaceConstFetchJITTest.php</file>
            <file>./test/compliance/UriRfc3986PhantomsVMTest.php</file>
            <file>./test/compliance/ImplicitNullableDeprecatedPrefixVMTest.php</file>
            <file>./test/compliance/ImplicitNullableDeprecatedPrefixJITTest.php</file>
            <file>./test/compliance/DateTimeModifyEmptyMessageVMTest.php</file>
            <file>./test/compliance/DateTimeModifyEmptyMessageJITTest.php</file>
            <file>./test/compliance/DateModifyNullDepVMTest.php</file>
            <file>./test/compliance/DateModifyNullDepJITTest.php</file>
            <file>./test/compliance/DateIntervalCreateFromDateStringEmptyVMTest.php</file>
            <file>./test/compliance/WddxPacketBuildersVMTest.php</file>
            <file>./test/compliance/XmlrpcServerDispatchVMTest.php</file>
            <file>./test/compliance/RarProceduralApiVMTest.php</file>
            <file>./test/compliance/FilestatEmptyPathSilentFalseVMTest.php</file>
            <file>./test/compliance/MkdirEmptyRecursiveInvalidPathVMTest.php</file>
            <file>./test/compliance/ChrootEmptyPathWarningVMTest.php</file>
            <file>./test/compliance/DateIntervalCreateFromDateStringEmptyJITTest.php</file>
            <file>./test/compliance/PropertyHookBackedGetByRefWithSetVMTest.php</file>
            <file>./test/compliance/PropertyHookBackedGetByRefWithSetJITTest.php</file>
            <file>./test/compliance/PropertyHookSetUntypedValueRejectVMTest.php</file>
            <file>./test/compliance/PropertyHookGetParamRejectVMTest.php</file>
            <file>./test/compliance/PropertyHookSetTypedValueOkVMTest.php</file>
            <file>./test/compliance/PropertyHookAvizTypedSetOkVMTest.php</file>
            <file>./test/compliance/PropertyHookAvizTypedSetOkJITTest.php</file>
            <file>./test/compliance/FinalAbstractHookedPropertyRejectVMTest.php</file>
            <file>./test/compliance/AvizVirtualGetOnlyRejectVMTest.php</file>
            <file>./test/compliance/FinalPrivateHookedPropertyRejectVMTest.php</file>
            <file>./test/compliance/PropertyHookWriteOnlyVirtualCoalesceVMTest.php</file>
            <file>./test/compliance/PropertyHookWriteOnlyVirtualCoalesceJITTest.php</file>
            <file>./test/compliance/UnserializeMalformedObjectWarnVMTest.php</file>
            <file>./test/compliance/UnserializeMalformedObjectWarnJITTest.php</file>
            <file>./test/compliance/UnserializeEmptySilentVMTest.php</file>
            <file>./test/compliance/UnserializeEmptySilentJITTest.php</file>
            <file>./test/compliance/DynPropIncUndefinedWarnVMTest.php</file>
            <file>./test/compliance/DynPropIncUndefinedWarnJITTest.php</file>
            <file>./test/compliance/XmlGetCurrentReflectionVMTest.php</file>
            <file>./test/compliance/XmlParserGetOptionReflectionVMTest.php</file>
            <file>./test/compliance/XmlParserFreeReflectionVMTest.php</file>
            <file>./test/compliance/XmlWriterFactoriesReflectionVMTest.php</file>
            <file>./test/compliance/DomDocumentLoadReflectionVMTest.php</file>
            <file>./test/compliance/PdoConstructPrepareQueryReflectionVMTest.php</file>
            <file>./test/compliance/PhpversionVMTest.php</file>
            <file>./test/compliance/PhpSbindirConstant84VMTest.php</file>
            <file>./test/compliance/StrictIntToFloatWideningVMTest.php</file>
            <file>./test/compliance/StrictIntToFloatWideningJITTest.php</file>
            <file>./test/compliance/FilterVarOptionsDefaultVMTest.php</file>
            <file>./test/compliance/FilterVarOptionsDefaultJITTest.php</file>
            <file>./test/compliance/FilterVarRequireArrayScalarsVMTest.php</file>
            <file>./test/compliance/FilterVarValidateIpBracketsVMTest.php</file>
            <file>./test/compliance/FilterVarValidateIpBracketsJITTest.php</file>
            <file>./test/compliance/FilterVarValidateEmailDomainLiteralVMTest.php</file>
            <file>./test/compliance/FilterVarValidateEmailDomainLiteralJITTest.php</file>
            <file>./test/compliance/FilterVarDefaultStripEncodeVMTest.php</file>
            <file>./test/compliance/FilterVarDefaultStripEncodeJITTest.php</file>
            <file>./test/compliance/MbEncodingAliasesSpecialVMTest.php</file>
            <file>./test/compliance/MbConvertEncodingQuotedPrintableVMTest.php</file>
            <file>./test/compliance/NestedFunctionExceptionGetTraceArgsVMTest.php</file>
            <file>./test/compliance/NestedFunctionExceptionGetTraceArgsJITTest.php</file>
            <file>./test/compliance/AsymmetricVisibilityReadonlyPrivateSetOrderVMTest.php</file>
            <file>./test/compliance/MathBinaryFloatNullSoftVMTest.php</file>
            <file>./test/compliance/MathBinaryFloatNullSoftJITTest.php</file>
            <file>./test/compliance/PowNullSilentVMTest.php</file>
            <file>./test/compliance/PowNullSilentJITTest.php</file>
            <file>./test/compliance/WordwrapEmptyBreakMessageVMTest.php</file>
            <file>./test/compliance/WordwrapEmptyBreakMessageJITTest.php</file>
            <file>./test/compliance/MbStrPadEmptyPadMessageVMTest.php</file>
            <file>./test/compliance/MbStrPadEmptyPadMessageJITTest.php</file>
            <file>./test/compliance/MbSplitEmptyPatternVMTest.php</file>
            <file>./test/compliance/GraphemePosEmptyNeedleVMTest.php</file>
            <file>./test/compliance/MbStrstrFamilyReflectionVMTest.php</file>
            <file>./test/compliance/HtmlspecialcharsDoubleEncodeNullVMTest.php</file>
            <file>./test/compliance/HtmlspecialcharsDoubleEncodeNullJITTest.php</file>
            <file>./test/compliance/SubstrCountNullNeedleForward84VMTest.php</file>
            <file>./test/compliance/SubstrCountNullNeedleForward84JITTest.php</file>
            <file>./test/compliance/RoundNullModeForward84VMTest.php</file>
            <file>./test/compliance/RoundNullModeForward84JITTest.php</file>
            <file>./test/compliance/SubstrCompareNullOffsetVMTest.php</file>
            <file>./test/compliance/SubstrCompareNullOffsetJITTest.php</file>
            <file>./test/compliance/SubstrCompareNullCiStrictVMTest.php</file>
            <file>./test/compliance/SubstrCompareNullCiStrictJITTest.php</file>
            <file>./test/compliance/SubstrCompareNullCiCoerceVMTest.php</file>
            <file>./test/compliance/SubstrCompareNullCiCoerceJITTest.php</file>
            <file>./test/compliance/MetaphoneMaxPhonemesValueErrorVMTest.php</file>
            <file>./test/compliance/MetaphoneMaxPhonemesValueErrorJITTest.php</file>
            <file>./test/compliance/FilePutContentsEmptyPathValueErrorVMTest.php</file>
            <file>./test/compliance/FilePutContentsEmptyPathValueErrorJITTest.php</file>
            <file>./test/compliance/IssetEmptyStringOffsetFloatVMTest.php</file>
            <file>./test/compliance/IssetEmptyStringOffsetFloatJITTest.php</file>
            <file>./test/compliance/IssetEmptyStringOffsetBoolNullVMTest.php</file>
            <file>./test/compliance/IssetEmptyStringOffsetBoolNullJITTest.php</file>
            <file>./test/compliance/EmptyArrFloatDimDepVMTest.php</file>
            <file>./test/compliance/EmptyArrFloatDimDepJITTest.php</file>
            <file>./test/compliance/FloatDimCoalesceDepVMTest.php</file>
            <file>./test/compliance/FloatDimCoalesceDepJITTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler Unit Test Suites">
            <directory suffix=".php">./test/unit</directory>
        </testsuite>
        <testsuite name="PHPCompiler Macro Test Suites">
            <file>./test/macro/MacroTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler Real World Test Suites">
            <file>./test/real/RealWorldTest.php</file>
            <file>./test/real/CgiDriverTest.php</file>
            <file>./test/real/ServeTest.php</file>
            <file>./test/real/ServeAotTest.php</file>
            <file>./test/real/MiniWebAppServeAotTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler AOT Test Suites">
            <file>./test/aot/MiniWebAppBisectAotTest.php</file>
            <file>./test/aot/MiniWebAppDeployLayoutTest.php</file>
            <file>./test/aot/AotTest.php</file>
            <file>./test/aot/ExampleWebAotTest.php</file>
            <file>./test/aot/StdlibWebBuiltinsTest.php</file>
            <file>./test/aot/RuntimeSuperglobalRefreshTest.php</file>
            <file>./test/aot/NestedSuperglobalsAotTest.php</file>
            <file>./test/aot/WebAppNumberFormatTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
