<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./test/bootstrap.php">
    <php>
        <env name="LD_LIBRARY_PATH" value="./.llvm" force="true"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="PHPCompiler Compliance Test Suites">
            <file>./test/compliance/JITTest.php</file>
            <file>./test/compliance/VMTest.php</file>
            <file>./test/compliance/IncludeScopeVMTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler Unit Test Suites">
            <directory suffix=".php">./test/unit</directory>
        </testsuite>
        <testsuite name="PHPCompiler Macro Test Suites">
            <file>./test/macro/MacroTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler Real World Test Suites">
            <file>./test/real/RealWorldTest.php</file>
            <file>./test/real/ServeTest.php</file>
            <file>./test/real/ServeAotTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler AOT Test Suites">
            <file>./test/aot/AotTest.php</file>
            <file>./test/aot/ExampleWebAotTest.php</file>
            <file>./test/aot/StdlibWebBuiltinsTest.php</file>
            <file>./test/aot/RuntimeSuperglobalRefreshTest.php</file>
            <file>./test/aot/NestedSuperglobalsAotTest.php</file>
            <file>./test/aot/WebAppNumberFormatTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
