<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./test/bootstrap.php">
    <php>
        <env name="PHP_COMPILER_CI_RAM_GB" value="8"/>
        <env name="PHP_COMPILER_MEMORY_LIMIT" value="1536M"/>
        <env name="PHP_COMPILER_LLVM_MEMORY_LIMIT" value="4096M"/>
        <env name="PHP_COMPILER_VM_RSS_GUARD" value="1"/>
        <env name="PHP_COMPILER_VM_PEAK_RSS_MB" value="2048"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="PHPCompiler Compliance Test Suites">
            <file>./test/compliance/JITTest.php</file>
            <file>./test/compliance/VariableFunctionDynamicJITTest.php</file>
            <file>./test/compliance/MagicDirFileVMTest.php</file>
            <file>./test/compliance/VMTest.php</file>
            <file>./test/compliance/GeneratorVMTest.php</file>
            <file>./test/compliance/EnumVMTest.php</file>
            <file>./test/compliance/SwitchEnumTest.php</file>
            <file>./test/compliance/SwitchEnumScalarSubjectJITTest.php</file>
            <file>./test/compliance/EnumTypedParamJITTest.php</file>
            <file>./test/compliance/EnumTraitConstTest.php</file>
            <file>./test/compliance/EnumTraitMethodJitTest.php</file>
            <file>./test/compliance/GeneratorJITTest.php</file>
            <file>./test/compliance/VisibilityTest.php</file>
            <file>./test/compliance/VisibilityJitTest.php</file>
            <file>./test/compliance/IncludeScopeVMTest.php</file>
            <file>./test/compliance/ClassMemberConstVMTest.php</file>
            <file>./test/compliance/ClassConstFetchVMTest.php</file>
            <file>./test/compliance/ClassStaticMethodVMTest.php</file>
            <file>./test/compliance/SplAutoloadRegisterJITTest.php</file>
            <file>./test/compliance/GethostnameJITTest.php</file>
            <file>./test/compliance/HttpLastResponseHeadersVMTest.php</file>
            <file>./test/compliance/HttpLastResponseHeadersJITTest.php</file>
            <file>./test/compliance/JitMcjitExecuteSmokeTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler Unit Test Suites">
            <directory suffix=".php">./test/unit</directory>
        </testsuite>
        <testsuite name="PHPCompiler Macro Test Suites">
            <file>./test/macro/MacroTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler Real World Test Suites">
            <file>./test/real/RealWorldTest.php</file>
            <file>./test/real/CgiDriverTest.php</file>
            <file>./test/real/ServeTest.php</file>
            <file>./test/real/ServeAotTest.php</file>
            <file>./test/real/MiniWebAppServeAotTest.php</file>
        </testsuite>
        <testsuite name="PHPCompiler AOT Test Suites">
            <file>./test/aot/MiniWebAppBisectAotTest.php</file>
            <file>./test/aot/MiniWebAppDeployLayoutTest.php</file>
            <file>./test/aot/AotTest.php</file>
            <file>./test/aot/ExampleWebAotTest.php</file>
            <file>./test/aot/StdlibWebBuiltinsTest.php</file>
            <file>./test/aot/RuntimeSuperglobalRefreshTest.php</file>
            <file>./test/aot/NestedSuperglobalsAotTest.php</file>
            <file>./test/aot/WebAppNumberFormatTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
